pipeline/AzureAdOauth2Pipeline.json
{
	"name": "AzureAdOauth2Pipeline",
	"properties": {
		"description": "oauth2 for restful api workflow",
		"activities": [
			{
				"name": "AKVClientId",
				"description": "get client id from azure key vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://githubcreditial.vault.azure.net/secrets/clientId/6bc4ca737c6043b4b967bf04017d27dc?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.com"
					}
				}
			},
			{
				"name": "AKVClientSecret",
				"description": "get client secret from azure key vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://githubcreditial.vault.azure.net/secrets/clientSecret/fa628879657f4a7092ebbc251edfb117?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.com"
					}
				}
			},
			{
				"name": "AzureAdLogin",
				"description": "user clientid & client scret to get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AKVClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/consumers/oauth2/v2.0/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&scope=https://graph.microsoft.com/.default&client_id=@{activity('AKVClientId').output.value}&client_secret=@{activity('AKVClientSecret').output.value}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Access Token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AzureAdLogin",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "access_token",
					"value": {
						"value": "@{activity('AzureAdLogin').output. access_token}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyResultToBlob",
				"description": "Copy Restul API Result To Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Access Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"access_token": {
								"value": "@{variables('access_token')}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AADRestfulEndpints",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"access_token": {
				"type": "String"
			}
		},
		"annotations": []
	}
}