pipeline/AzureAdOauth2Pipeline.json
{
	"name": "AzureAdOauth2Pipeline",
	"properties": {
		"description": "oauth2 for restful api workflow",
		"activities": [
			{
				"name": "AKVClientId",
				"description": "get client id from azure key vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://az-keyvault.vault.azure.cn/secrets/clientId/9df32a54798c4ac581d12f0414458a75?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.cn"
					}
				}
			},
			{
				"name": "AKVClientSecret",
				"description": "get client secret from azure key vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://az-keyvault.vault.azure.cn/secrets/clientSecret/7c67ff3cc83f40fab311276046d65bbc?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.cn"
					}
				}
			},
			{
				"name": "AzureAdLogin",
				"description": "user clientid & client scret to get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "AKVClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AKVClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/consumers/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&scope=https://graph.microsoft.com/.default&client_id=@{activity('AKVClientId').output.value}&client_secret=@{activity('AKVClientSecret').output.value}"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"variables": {
			"access_token": {
				"type": "String"
			}
		},
		"annotations": []
	}
}